div.centerForm {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

form {
    margin: 1em;
    align-self: center;
    display: flex;
    flex-flow: column;
}

fieldset {
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 2px 2px 15px #134153;
}

fieldset select {
    margin: 1em;
    padding:.5em;
}

label {
    padding: 0em 1em;
}

.submitbutton {
    margin: 1em auto;
    color: #134153;
    font-size: 100%;
    padding: 10px 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    fieldset select {
        width: 90%;
    }
    
    form {
        width: 400px;
    };

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    form {
        width: 500px;
    }
}

@media only screen and (min-width: 992px) { /*For Laptops and Desktops*/
    
    form {
        width: 900px;
    }

}