:root {
    --primary-color: rgba(19, 65, 83, 0.75);
    --overlay-color: rgba(46,130,139,0.85);
    --menu-speed: 0.75s;
}

header {
    background: linear-gradient( #134153, #2e828b ) ;
}

h1 {
    color: #fcfaf1;
    padding: 50px 25px;
    margin: 0 auto;
}

button.topButton {
    display: none;
    width: 2em;
    height: 2em;
    position: fixed;
    bottom: 1.5em;
    right: .5em;
    border: 1px solid #8ad8ed;
    background-color: #2e828b;
    color: #fcfaf1;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    transition: background-color .5s linear, opacity 1s linear, visibility 2s linear;
    z-index: auto;
}

button.topButton:hover {
    color: #2e828b;
    background-color: #fcfaf1;
}

button.topButton:active {
    background-color: #134153;
}

nav {
    display: none;
}

/* Hamburger menu: Mobile ONLY */
.menu-wrap {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 30px;
    height: 30px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger Lines */
.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.menu-wrap .hamburger > div:before, .menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

.menu-wrap .hamburger > div:after {
    top: 10px;
}


/* Toggle animation */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
    
}

/* Turns Lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/* Show menu */
.menu-wrap .toggler:checked ~ .menu{
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
}


.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 40%;
    width: 300vw;
    height: 300vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div >div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul {
    list-style: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li {
    padding: 0.5rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
    transition: text-decoration 0.25s;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
    text-decoration: underline;
}

/* Extra small devices (phones, 600px and down) */
/*@media only screen and (max-width: 600px) {
    
}
*/
/* Small devices (portrait tablets and large phones, 600px and up) */
/*
@media only screen and (min-width: 600px) {
    
}
*/

@media only screen and (min-width: 992px) {  /*For Laptops and Desktops*/
    
    .menu-wrap {
        display: none;
    }
    
    nav {
        display: block;
        background-color: #2e828b;
        border-style: solid;
        border-color: #134153;
        border-width: 1px 0px;
    }
    
    
    .show {
        position: sticky;
        top: 0;
    }
    
    nav ul {
        list-style: none;
        display: flex;
        flex-flow: row wrap ;
        margin: 0 auto;
        padding: 0;
    }
    
    nav ul li {
        padding: 1em;
        transition: background-color;
        transition-duration: .5s;
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        white-space: nowrap;
        box-sizing: border-box;
        justify-content: center;
    }
    
    nav ul li:hover {
        background: #134153;
    }
    
    nav ul li a {
        color: #fcfaf1;
        text-decoration: none;
        transition: text-decoration;
        transition-duration: .25s; 
    }
    
    nav ul li a:hover {
        text-decoration: underline;
        color: #fcfaf1;
    }
    
    /*************************************
    **************************************
    **************************************
    **************************************
    **************************************/
    
    /* .dropdown {
        float: left;
        overflow: hidden;
    } */
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #2e828b;
        top: 188px;
        width: 24%;
        min-width: 140px;
        /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
        z-index: 1;
        
    }
    
    .dropdown-content a {
        float: none;
        color: #fcfaf1;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
        transition: text-decoration;
        transition-duration: .25s; 
        transition: background-color;
        transition-duration: .5s;
    }
    
    .dropdown-content a:hover {
        text-decoration: underline;
        color: #fcfaf1;
        background: #134153;
    
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
}
