header {
    background: linear-gradient( #134153, #2e828b ) ;
}

h1 {
    color: #fcfaf1;
    padding: 50px 25px;
    margin: 0 auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}


@media only screen and (min-width: 992px) {  /*For Laptops and Desktops*/
    
    
    
    nav {
        background-color: #2e828b;
        border-style: solid;
        border-color: #134153;
        border-width: 1px 0px;
    }
    
    
    .show {
        position: sticky;
        top: 0;
    }
    
    nav ul {
        list-style: none;
        display: flex;
        flex-flow: row wrap ;
        margin: 0 auto;
        padding: 0;
    }
    
    nav ul li {
        padding: 1em;
        transition: background-color;
        transition-duration: .5s;
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        white-space: nowrap;
        box-sizing: border-box;
        justify-content: center;
    }
    
    nav ul li:hover {
        background: #134153;
    }
    
    nav ul li a {
        color: #fcfaf1;
        text-decoration: none;
        transition: text-decoration;
        transition-duration: .25s; 
    }
    
    nav ul li a:hover {
        text-decoration: underline;
        color: #fcfaf1;
    }
    
    /*************************************
    **************************************
    **************************************
    **************************************
    **************************************/
    
    /* .dropdown {
        float: left;
        overflow: hidden;
    } */
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #2e828b;
        top: 188px;
        width: 24%;
        min-width: 140px;
        /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
        z-index: 1;
        
    }
    
    .dropdown-content a {
        float: none;
        color: #fcfaf1;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
        transition: text-decoration;
        transition-duration: .25s; 
        transition: background-color;
        transition-duration: .5s;
    }
    
    .dropdown-content a:hover {
        text-decoration: underline;
        color: #fcfaf1;
        background: #134153;
    
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
}
