html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #fcfaf1 ;
    color: #134153;
    margin: 0;
}

h2 {
    background-color: #8ad8ed;
    padding: 1em;
    margin-top: 0;
    margin-bottom: 3em;
    border-color: #134153;
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    box-shadow: 1px 1px 10px #134153;
}

h3 {
    display: block;
    transition-property: text-decoration;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}

h3:hover {
    text-decoration: underline;
    text-shadow: 1px 1px 10px #134153;
}

#news {
    padding: 0;
    margin-bottom: 3em;
}

.article {
    position: unset;
    list-style: none;
    border-left: .5em solid #2e828b;
    background-color: #8ad8ed;
    margin: 1px;
    margin-right: 3em;
    margin-left: 3em;
}

.article:hover {
    box-shadow: 1px 2px 10px #134153;
}

.article span {
    font-style: italic;
}

.article article {
    margin: 1em;
}

.article a {
    text-decoration: none;
    color: var(--link-color);
}

.article a:hover {
    text-decoration: underline;
    color: var(--link-color-hover);
}

.article a:visited {
    color: var(--link-color-visited);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .article {
        padding: 1em;
    }
    
    .article span {
        margin: 0;
        padding: 0;
    }

    .article p {
        margin: 2px;
        padding: 1px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 
    .article {
        padding: 2em;
    }

    .article span {
        margin: 5px;
        padding: 5px;
    }

    .article p {
        margin: 6px;
        padding: 6px;
    }

}

@media only screen and (min-width: 992px) { /*For Laptops and Desktops*/

    .article {
        padding: 3em;
    }

    .article span {
        margin: .5em;
        padding: .5em;
    }

    .article p {
        margin: 1em;
        padding: 0em 1em;
    }

}