html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #fcfaf1 ;
    color: #134153;
    margin: 0;
}

h2 {
    background-color: #8ad8ed;
    padding: 1em;
    margin-top: 0;
    margin-bottom: 3em;
    border-color: #134153;
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    box-shadow: 1px 1px 10px #134153;
}

ul {
    padding: 0;
}

.article {
    position: unset;
    list-style: none;
    border-left: .5em solid #2e828b;
    background-color: #8ad8ed;
    padding: 3em;
    margin: 1px;
    margin-right: 3em;
    margin-left: 3em;
}

.article span {
    font-style: italic;
    padding: 1em;
    margin: 1em;
}

.article article {
    margin: 1em;
}