html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #fcfaf1 ;
    color: #134153;
    margin: 0;
}

.subtitle {
    background-color: #8ad8ed;
    padding: 1em;
    margin: 0;
    border-color: #134153;
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    box-shadow: 1px 1px 10px #134153;
}

.main-box {
    margin: 2em 3em;
    padding: 1em;
    border-width: 1px;
    border-style: solid;
    border-color: #134153;
    box-shadow: 1px 2px 10px #134153;
    text-align:center;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s;
}

.main-box:hover {
    box-shadow: 1px 2px 10px #8ad8ed;
    /* text-decoration: underline; */
}

#backLink {
    text-decoration: none;
    color: #134153;
}

#backLink:hover {
    font-weight: 600;
}

#backLink:active {
    color: #8ad8ed;
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    cursor: initial;
}

hr.solid {
    border-top: 3px solid #8ad8ed;
}

.lists {
    list-style: none;
    border-left: .5em solid #8ad8ed;
    padding: 2em;
}

.lists li {
    margin: .5em;
    padding: 2px;
    font-size: 2 rem;
}

.lists li a:hover {
    text-decoration: underline;
    color: var(--link-color-hover);
}

.lists li a {
    color: var(--link-color);
    text-decoration: none;
}

.btn-accordion {
    background-color: var(--subtitle-color);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
}
  
.btn-accordion.active, .btn-accordion:hover {
    background-color: var(--light-main);
}
  

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.map {
    height: 500px;
    width: 100%;
    /* z-index: -5; */
}

.symbol-legend {
    margin-top: 2em;
    text-align: left;
    font-size: 20px;
}


.symbol-legend ul {
    margin-left: -1em;
}