html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #fcfaf1 ;
    color: #134153;
    margin: 0;
}

h2 {
    background-color: #8ad8ed;
    padding: 1em;
    margin: 0em;
    border-color: #134153;
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    box-shadow: 1px 1px 10px #134153;
}

.routeWelcome {
    border: .5em solid #8ad8ed;
}

.dromologia {
    margin: 1em;
    padding: 2em;
    display: flex;
    flex-flow: column;
}

.dromologia h3 {
    align-self: center;
    padding: 0 11.75em;
    border-left: .5em solid #8ad8ed;
}

.dromologia h3:hover {
    text-decoration: underline;
    border-left-color: #134153;
}

.dromologia ul {
    align-self: center;
}

.lines {
    list-style: none;
    border-left: .5em solid #8ad8ed;
    padding: 2em;
}

.lines li {
    margin: .5em;
    padding: 2px;
    font-size: 2 rem;
}

.lines li a:hover {
    text-decoration: underline;
    color: var(--link-color-hover);
}

.lines li a {
    color: var(--link-color);
    text-decoration: none;
}

.lines li a:active {
    color: var(--subtitle-color);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    .dromologia h3 {
        align-self: center;
        padding: 0 7em;
        border-left: .5em solid #8ad8ed;
    }

    .routeWelcome {
        margin: 1em;
        padding: 1em 2em;
        border: 5px solid #8ad8ed;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    .routeWelcome {
        margin: 2em;
        padding: 2em 4em;
        border: .5em solid #8ad8ed;
    }

}

@media only screen and (min-width: 992px) { /*For Laptops and Desktops*/
    
    .routeWelcome {
        margin: 2em;
        padding: 2em 8em;
    }

}

