html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #fcfaf1 ;
    color: #134153;
}

h2 {
    background-color: #8ad8ed;
    padding: 1em;
    margin-top: 0;
    margin-bottom: 3em;
    border-color: #134153;
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    box-shadow: 1px 1px 10px #134153;
}

main p {
    margin: 2em;
    padding: 2em;
}

div.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

div.buttons a {
    margin: 1em;
    padding: 1em;
    text-decoration: none;
    text-align: center;
    color: #134153;
    border: 1px solid #fcfaf1;
}

div.buttons a:hover {
    border: 1px solid #134153;
    text-decoration: underline;
}

div.buttons a:active {
    color: #8ad8ed;
}