html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #fcfaf1 ;
    color: #134153;
}

main {
    padding: 2em;
}

h2 {
    margin: 1em;
}

main div {
    margin: 2em;
}

.welcome {
    padding: 1em 1em;
    border-width: 1px;
    border-style: solid;
    border-color: #134153;
    box-shadow: 1px 2px 10px #134153;
}

#min-stop {
    /* display: none; */
    width: 76%;
    cursor: pointer;
    display: none;
    text-align: center;
    margin: 2.2em;
    padding: 1em;
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-color-hover);
}

hr.solid {
    border-top: 2px solid var(--subtitle-color);
}

.articleNews {
    background-color: var(--subtitle-color);
    margin: 2em;
    padding: 1em;
    border: 1px solid #134153;
    box-shadow: 1px 1px 10px #134153;
}

.articleNews:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px #2e828b;
}

.articleNews:active {
    background-color: #2e828b;
}

.newsInfos {
    border: .5em double #134153be;
}

.newsInfos h2 {
    margin: 1em;
}

.newsInfos ol {
    padding: 0;
    margin: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.newsInfos ol li {
    margin: 0.5em; 
    justify-content: center;
    font-size: x-large;
}

.newsInfos ol li a {
    color: #134153;
    text-shadow: #2e828b 2px 2px 4px;
}

.newsInfos ol li a:hover {
    text-shadow: #8ad8ed 2px 2px 2px;
    text-decoration: none;
}

.newsInfos ol li a:active {
    color: #2e828b;
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    
    .welcome p {
        margin: 1em 1em;
        padding: 2em 5em;
    }

}

@media only screen and (min-width: 992px) {

    .welcome p {
        margin: 1em 2em;
        padding: 2em 10em;
    }

    #latestNews {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 3fr;
    }
    #latestNews h2 {
        grid-row: 1/2;
        grid-column: 1/4;
    }
    
}
