db_cred.txt
node_modules
.env
database/public_transport_site.sql
initProject.sh
Report.docx
external/First Presentation.odp
external/First Presentation.pptx
external/Presentation.odp
extrnal/Screenshot_from_2021-04-18_16-43-25.png
external/Στιγμιότυπο οθόνης 2021-04-19 015420.jpg