<main>
    <h2>Το μύνημά σας στάλθηκε με επιτυχία.</h2>
    <article>
        <p>
            Λάβαμε τα σχόλιά σας, μπορείτε να δείτε το email στο 
            Ευχαριστούμε που επικοινωνήσατε μαζί μας, θα απαντήσουμε το συντομότερο δυνατόν.
        </p>
        <div class="buttons">
            <a href="/index">Αρχική</a>
            <a href="/contact">Πίσω</a>
        </div>
    </article>
</main>