<main>
        <h2>Ανακοινώσεις</h2>
        <ul id="news">
        {{#each news}}
                <div class="article" id={{this.id}}>
                        <h3>{{this.titlos}}</h3>
                        <span>Ημερομηνία: {{this.imerominia}}</span>
                        <article>{{{this.keimeno}}}</article>
                </div>        
        {{/each}}
        </ul>
</main>