<main>
        <h2>Δρομολόγια</h2>
        <p class="routeWelcome">
            Ενημερωθείτε σχετικά με τις διαδρομές των αστικών λεωφορείων της πόλης μας.
            Οι ώρες και οι στάσεις που ακολουθούν οι γραμμές είναι ανανεωμένες σύμφωνα με τις
            τελευταίες ανακοινώσεις. Παρακάτω μπορείτε να δείτε αναλυτικά όλες τις πληροφορίες
            που ψάχνεται.
        </p>
        <div class="dromologia">
            <h3>Γραμμές</h3>
            <ul id="lines" class="lines">
            </ul>
        </div>
</main>