<main>
        <div class="main-title">
            <h2>Εισιτήρια</h2>
        </div>
        <div class = "main-box" id="ticket-prices">
            <h2 >Τιμές Εισιτηρίων</h2>
            <br>
            <table class="ticket-pricing">
                <thead>
                    <tr>
                        <th>Τύπος Εισιτηρίου</th>
                        <th>Ζώνη Α</th>
                        <th>Ζώνη Β</th>
                    </tr>
                </thead>
                <tbody id="pricing-body">
                    <tr>
                        <td>Μειωμένο</td>
                        <td>0.60€</td>
                        <td>0.80€</td>
                    </tr>
                    <tr>
                        <td>Κανονικό</td>
                        <td>1.10€</td>
                        <td>1.50€</td>
                    </tr>
                    <tr>
                        <td>Επιβαρυμένο</td>
                        <td colspan="2">2.00€</td>
                    </tr>
                </tbody>
                
            </table>
        </div>

        <div class="main-box" id="monthly-ticket">
            <h2>Μηνιαία Κάρτα</h2>
            <br>
            <table class="ticket-pricing">
                <thead>
                    <tr>
                        <th>Τύπος Εισιτηρίου</th>
                        <th>Ζώνη Α</th>
                        <th>Ζώνη Β</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Μειωμένο</td>
                        <td>27.50€</td>
                        <td>37.50€</td>
                    </tr>
                    <tr>
                        <td>Κανονικό</td>
                        <td>55.00€</td>
                        <td>72.00€</td>
                    </tr>
                </tbody>
                
            </table>
        </div>

        <div class="main-box" id="ticket-office">
            <h2>Εκδοτήρια</h2>
            <br>
            <table class="table-office">
                <thead>
                    <tr>
                        <th>Εισιτήρια</th>
                        <th>Μηνιαίες Κάρτες</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="https://www.google.com/maps/search/?api=1&query=Πλατεία+Γεωργίου+Πάτρα" target="_blank">Πλατεία Γεωργίου</a></td>
                        <td rowspan="3"><a href="https://www.google.com/maps/search/?api=1&query=Αγιού+Ανδρέου+9+Πάτρα" target="_blank">Κεντρικά Γραφεία, Αγιού Ανδρέου 9</a></td>
                    </tr>
                    <tr>
                        <td><a href="https://www.google.com/maps/search/?api=1&query=Πανεπιστημιακό+Νοσοκομείο+Ρίου" target="_blank">Πανεπιστημιακό Νοσοκομείο Ρίου</a></td>
                        
                    </tr>
                    <tr>
                        <td><a href="https://www.google.com/maps/search/?api=1&query=Parking+Περιβολάς" target="_blank">Parking Περιβολάς</a></td>
                    </tr>
                </tbody>
                
            </table>
        </div>

    </main>